html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}
.maxpagewidth{max-width:1400px;}
.fullwidth{width:100%;}
.nomargintop{margin-top:0px;}
.overflow-hidden{overflow: hidden;}

.printonly{display: none;}

@media only screen and (max-width: 380px) and (min-width: 310px) {
    .table-small {
        padding: 0px 0px !important;
        display: table-cell;
        text-align: left;
        vertical-align: top;
        font-size: 13px;
        overflow: scroll;
    }
    .table-small tr td {
        padding: 2px 2px;
    }
        
}

@media only screen and (max-width: 309px) {
    .table-small {
        padding: 0px 0px !important;
        display: table-cell;
        text-align: left;
        vertical-align: top;
        font-size: 11px;
        overflow: scroll;
    }
    .table-small tr td {
        padding: 1px 1px;
    }
        
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  h2 {
    font-size: 14pt;
  }
  footer {
      display: none;
  }
  .printonly {
      display: block;
  }
  .w3-text-white, .w3-hover-text-white:hover {
    color: #fff !important;
  }
  .w3-amber, .w3-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
  }
  .w3-round-xlarge {
    border-radius: 16px;
}
  /* ... the rest of the rules ... */
}

#toggleDarkMode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19)
}
#toggleDarkMode:hover {
  background-color: #555;
}

@media only screen and (min-width: 601px) {
  #toggleDarkMode {
    position: fixed;
    top: 20px;
    border-radius: 4px;
    bottom: unset;
  }
}