h2#title {color:#000}
.w3-theme-l5 {color: #000 !important;background-color: #edfdff !important}
.w3-theme-l4 {color: #000 !important;background-color: #c4f8ff !important}
.w3-theme-l3 {color: #000 !important;background-color: #89f1ff !important}
.w3-theme-l2 {color: #000 !important;background-color: #4eeaff !important}
.w3-theme-l1 {color: #000 !important;background-color: #12e3ff !important}
.w3-theme-d1 {color: #fff !important;background-color: #00aac1 !important}
.w3-theme-d2 {color: #fff !important;background-color: #0097ab !important}
.w3-theme-d3 {color: #fff !important;background-color: #008496 !important}
.w3-theme-d4 {color: #fff !important;background-color: #007281 !important}
.w3-theme-d5 {color: #fff !important;background-color: #005f6b !important}
.w3-theme-light {color: #000 !important;background-color: #edfdff !important}
.w3-theme-dark {color: #fff !important;background-color: #005f6b !important}
.w3-theme-action {color: #fff !important;background-color: #005f6b !important}
.w3-theme {color: #fff !important;background-color: #00bcd4 !important}
.w3-text-theme {color: #00bcd4 !important}
.w3-border-theme {border-color: #00bcd4 !important}
.w3-hover-theme:hover {color: #fff !important;background-color: #00bcd4 !important}
.w3-hover-text-theme:hover {color: #00bcd4 !important}
.w3-hover-border-theme:hover {border-color: #00bcd4 !important}
.w3-white {color: rgb(255, 255, 255) !important;background-color: rgb(25, 28, 29) !important;}
.w3-light-grey,.w3-light-gray {color: rgb(255, 255, 255) !important;background-color: rgb(36, 40, 41) !important;}
.w3-text-grey {color: rgb(201, 191, 173) !important;}
.w3-bordered tr,
.w3-table-all tr {
    border-bottom-color: rgb(70, 75, 79);
}
.w3-ul li {
    border-bottom-color: rgb(70, 75, 79);
}
hr { border-top-color: rgb(63, 68, 71);}   
.w3-modal-content {
    background-color: rgb(25, 28, 29);
    outline-color: initial;
}